[Unit]
Description=Geocodr API
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
Before=multi-user.target graphical.target nginx.service
Conflicts=shutdown.target

[Service]
User=geocodr
Group=daemon
ExecStart=/usr/local/geocodr/bin/geocodr-api --mapping /usr/local/geocodr-mv/conf/geocodr_mapping.py --api-keys /usr/local/geocodr-mv/conf/apikeys.csv

[Install]
WantedBy=multi-user.target graphical.target
